h1{
    color: blue;
    background-color: brown;
    text-align: center;
    border: 15px solid black;
    

}
h3{
    color: rgb(105, 128, 255);
    background-color:rgb(43, 198, 226) ;
    text-align: center;     


    
    
}